/* Contenedor del navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c8e6d; /* Color de fondo según la imagen */
  padding: 0.5rem 2rem;
  font-family: "Segoe UI", sans-serif;
  flex-wrap: wrap;
}

/* Logo */
.logo {
  height: auto;
  max-height: 100px;
  width: auto;
  font-size: 70px;
  font-family: "Special Elite";
  color: white;
}

/* Contenedor del menú */
.menu {
  display: flex;
  gap: 2rem;
}

/* Enlaces */
.link-navbar {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
  transition: color 0.2s ease;
}

.link-navbar p {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.link-navbar:hover p {
  font-weight: 700;
  color: #000000;
}

/* Activo (puedes aplicarlo dinámicamente con React Router) */
.link-navbar.active p {
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .logo img {
    max-height: 50px;
  }
}

.logout-button {
  background: none;
  border: none;
  color: rgb(157, 25, 25);
}

.logout-button:hover {
  text-decoration: underline;
}
