body {
  overflow-x: hidden;
}
section {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.home-background {
  width: 100%;
  height: 88%;
  margin-top: -130px;
  filter: blur(4px) brightness(60%);
  position: absolute;
  left: 0;
  object-fit: cover;
  z-index: -1;
  transform: scale(1.1);
}

.home-background-text {
  display: block;
  margin-top: 15vh;
  font-size: 56px;
  margin-left: 2%;
  color: white;
  line-height: 11vh;
  letter-spacing: 2px;
}

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: white; /* Cambiá según el fondo */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 29px;
  margin-top: 25vh;
}

.flecha {
  width: 160px;
  color: white;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
    hue-rotate(200deg);
  margin-top: -17px;
  transition: transform 0.5s ease;
}

.flecha:hover {
  transform: translateY(13px);
}
