/* Estilos generales */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0e4d7;
  color: #000;
  margin: 0;
}

/* Contenedor del formulario */
/* Estilos generales del contenedor */
.register-form {
  max-width: 50%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f0e3d3;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", sans-serif;
}

/* Título centrado y estilizado */
.register-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #000;
}

/* ya tienes una cuenta?*/
.link-to-login {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/* Etiquetas en mayúsculas */
.register-form label {
  display: block;
  margin-top: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85rem;
}

/* Campos de entrada */
.register-input {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Botón */
.register-button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #80552f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #6b4525;
}

/* Errores */
.register-form p {
  position: absolute;
  color: red;
  font-size: 17px;
  margin-top: -1px;
}

/* Elimina el fondo gris del autocompletado */
.register-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* Card */
.img-card {
  height: 200px;
  width: 100%;
}

/* botones en genereal (clase de bootstrap sobrescrita, los !important son por las dudas no se sobrescriba)*/

.marron {
  background-color: #815a34 !important;
  border-color: #815a34 !important;
  color: white !important;
  font-weight: bold !important;
}

.marron:hover {
  background-color: #6c4529 !important;
  border-color: #6c4529 !important;
  color: white !important;
}

.update {
  background-color: #405a72 !important;
  border-color: #405a72 !important;
  color: white !important;
  font-weight: bold !important;
}

.update:hover {
  background-color: blue !important;
  border-color: blue !important;
  color: white !important;
}

.delete {
  background-color: rgb(255, 72, 0) !important;
  border-color: rgb(255, 72, 0) !important;
  color: white !important;
  font-weight: bold !important;
}

.delete:hover {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}

.btn:active {
  background-color: #a0a381 !important;
  border-color: #a0a381 !important;
  color: #6c4529 !important;
}

.cards-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cards-admin-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Footer*/

.footer {
  background-color: #8c8e6d;
  font-family: "Segoe UI", sans-serif;
  height: min-content;
  padding-bottom: 0.5rem;
}

.footer > p {
  text-align: center;
  color: white;
  font-weight: bold;
}
